.main-Footer{
    color: white;
    background-color: #1D3557;
    padding-top: 0em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.col{
    padding-top: 10px;
}

.col-sm{
    display: flex;
    justify-content: center;
    align-items: center;
}