@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  box-sizing: border-box;
}

/* Home */

.virus {
  border-radius: 70px;
  margin-left: 33%;
  margin-top: 70px;
}

/* Taula covid */

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  border-bottom: 2px solid black;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

thead button.ascending::after {
  content: '👇';
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: '☝️';
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

td {
  width: 200px;
}

tbody tr:hover {
  background-color: #eee;
}
tr:hover {
  background-color:#f5f5f5;
}

.taula-covid {
  margin-left: 100px;
  margin-top: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  border-style: solid;
}

/* Taula vacunes */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.taula-vacuna {
  margin: 100px;
}

.vacuna {
  width: 200px;
}

.header {
  border-bottom: 1px solid black;
}